body {
  background: #000 radial-gradient(1000px 500px, #3f546b, #000);
  margin-top: 40px;
  height: 800px;
}

h1{
  text-align: center;
  margin-top: -5px;
  margin-bottom: -10px;
  text-align: center;
  color: tan;
  text-shadow:
    3px 3px 0 #000,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

a{
  display: block;
  color: white;
  font-size: 3em;
  text-align: center;
  margin: 2em 0;
}

td {
  height: 66px;
  width: 66px;
  background: #374654;
  border: 1px solid black;
  float: left;
  margin: 3px;
  border-radius: 35px;
}

label{
  color: white;
  font-size: 20px;
  text-align: center;
  margin: 0 auto 25px auto;
  display: block;
}

 input{
  height: 40px;
  width: 125px;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  display: block;
 }

.nav {
  position: relative;
  width: 6em;
  left: 102px;
  margin: 18px 3px;
}

.black{
  background-color: black;
}

.red{
  background-color: red;
}

.radio{
  color: white;
}

.btn {
  margin: 70px auto 0 auto;
  display: block;
  height: 50px;
  width: 175px;
  background: lightgreen;
  border: 2px solid green;
  font-size: larger;
}

#reset{
  position: absolute;
  top: 4em;
  right: 41em;
  padding: 14px;
  background-color: lightgreen;
  color: black;
}

#dropBar {
  height: 60px;
  width: 740px;
  background: transparent;
  margin: 0 auto;
  margin-top: 25px;
}

#board {
  width: 36em;
  height: 31em;
  background: #FFD700;
  margin: 0 auto;
  padding: 20px;
}

#scoreBoard{
  position: relative;
    left: 5px;
    bottom: 335px;
    text-align: center;
}

.menu{
  width: 50em;
  height: 35em;
  margin: 110px auto;
}

#playerTurn {
  text-align: center;
  margin-bottom: -15px;
  color: white;
}

#title{
  color: white;
  font-size: 3em;
  text-align: center;
}

#blackWins{
  background-color: rgba(0,0,0,.2);
  color: white;
}

#redWins{
  background-color: red;
}

#backToMenu {
  position: absolute;
  top: 4em;
  right: 30em;
  padding: 14px;
  background-color: lightgreen;
  color: black;
}

#skillLabel {
  margin-bottom: 0px;
}

#hoverTable {
  width: 36em;
  height: 66px;
  margin: 30px auto 0 auto;
  padding: 0 20px;
}

#hoverRow > td {
  border: 0;
  margin-left: 5px;
  background-color: transparent;
}

.label {
    display: block;
    top: -33px;
    left: 20px;
    position: relative;
    margin-bottom: -5px;
}